::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
    background-color: #403d39;
}

  .helptext {
      font-size: 12px;
  }

  .tab-color {
      color: #ffd23f!important;
  }

  .main-body {
      margin-top: 3rem;
  }

  strong{
    font-weight:bold;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
  }

  main {
    flex: 1 0 auto;
  }

  .list-post:hover {
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
      transform: scale(1.01);
      border-left: 3px solid #ffd23f;
  }

  .list-post {
      color: #403d39; 
      transition: all .4s;
  }


  .list-post-title h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 600;
  }

  a div.list-post{
      margin: -8px;
      padding: 10px;
  }

  a div.list-post:hover {
      color: black;
  }

  .list-post-secondary-info {
      font-size: 0.9rem;
  }

  .list-post-short-description {
  }

  .post-title {
     font-size: 3.4rem;
     margin: -6 0 10 0 ;
     line-height: 1.1;
  }
  .post-secondary-info {
      font-size: 1.2rem;
  }
  .progress-container {
      width: 6vw;
      height:100%;
      position:fixed;
      z-index:99;
      top:0;
      left:0;
  }
  .progress-bar {
      background:#ffd23f;
  }
  .no-hover {
      background-color:white!important;
  }
  html, body {
    overscroll-behavior-x: none;
  }
.container {
    word-wrap: break-word;
}
.post-toolbar {
    display: flex;
    flex-direction: row;
    height: 80;
    width: 170px;
    gap: 30px;
    padding-left: 0px;
    padding-top: 0px;
    margin-top:0;
}
.post-toolbar i {
    font-size: 30px;
}

.post-toolbar button {
    padding: 0;
}

.post-toolbar-large {
    display: flex;
    flex-direction: row;
    height: 80;
    width: inherit;
    padding-top: 0px;
    padding: 0;
    margin-top:1rem;
}

.post-toolbar-large i {
    font-size: 30px;
}

.post-toolbar-large button {
    padding: 0;
}

.asteriskField {
    display: none;
}
.btn-flat:focus {
    background-color: #fdfdfd;
}
.liked {
    color: #ffd23f;
}

.comment-avatar {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}
.comment-container {
    margin: 0 0 0 0;
}
.comment-header {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    display: flex;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 10;
    height: 60px;
    background-color: #fdfdfd;
}

.main {
    border-left: 3px solid #ffd23f!important;
}

.reply {
    transform: scale(0.93);
    transform-origin: right;
}

.comments-section {
    margin-top: 3rem;
}

.comment-username {
    padding-left: 55px;
}

.comment-username span {
    font-size: 16px;
}

.comment-username p {
    margin: 0;
}
.comment-body {
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #fff;
}
.comment-body p {
    margin: 0;
}

.comment-footer {
    font-size: 12px;
    display: flex;
    position: relative;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
}
.comment-footer span {
    padding-left: 5px;
}

.comment-footer i {
    font-size: 18px;
}


.comment-footer button i {
    font-size: 18px;
}

.comment-footer a {
    color: #000000de;
}
.comment-footer a:hover {
    color: #ffd23f;
}

