{% extends 'devblog/base.html' %}
{% load static %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/materialize.js"></script>


    <div class="col hide-on-small-only m3 l1">
    </div>
    <div class="col s12">
        <p class="error-text-main primary-text flow-text center-align">
           500
        </p>
        <p class="error-text-sub center-align secondary-text">
           Something went wrong...
        </p>
    </div>
    <div class="col hide-on-small-only m3 l1">
    </div>

{% endblock %}
