{% extends 'devblog/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="center-align">
        <h1>About..</h1>
      Hello there brave web venturer! <br>
      My name is Karol Wiatrowski, I am a web app developer and I hereby welcome You to my blog devoted to programming challenges, topics and issues.
      <hr>
      I have designed this place to constitute as a sophisticated web developer dairy which every soul wandered here may use for their benefit.
      One principle governing this space is the ability to express one's point of view in the discussion under every related topic, as I believe humans excel and achieve the impossible when working together.
      <hr>
      As for now, I am confortable in using Python, Django, JQuery and basic CSS with HTML. I am eager to study new skills and technologies, but my desire is to hone already acquired skills. What is the point of having 200 knives if none can cut really well?
    </div>
</div>
{% endblock %}

{% block content_script %}
{% endblock %}
