{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
  <link href="{% static '/css/pygments.css' %}" rel="stylesheet">
  <link href="{% static '/css/materialize.css' %}" rel="stylesheet">
  <link href="{% static '/martor/css/martor.semantic.css' %}" type="text/css" media="all" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static '/css/devblog.css' %}" rel="stylesheet">
</head>
<header>
    <title>Promedevus</title>
</header>

<main style="background: #fdfdfd;">
    <div class="card-panel primary" style="height: 70px; padding:0; margin-top: 0px">
        <nav class="z-depth-0">
          <div class="nav-wrapper" style="background-color:#fdfdfd;">
              <a href="{% url 'posts-list' %}" class="brand-logo center" style="color:#403d39;">Promedevus</a>
            <a href="#" data-target="mobile-demo" style="color:#403d39;" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if user.is_superuser %}
                    <li><a href="{% url 'admin-posts-list' %}" span style="font-weight:bold; color:#403d39">Manage posts</span></a></li>
                {% endif %}
                <li><a href="{% url 'posts-list' %}" span style="font-weight:bold; color:#403d39">Posts</span></a></li>
                <li><a href="{% url 'about-page' %}"><span style="font-weight:bold; color:#403d39">About</span></a></li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="user_dropdown">
                            <img src={% if user.bloguser.profile_image %} {{ user.bloguser.profile_image.url }} {% else %} "{% static 'images/default_avatar.jpg' %}" {% endif %}  class="responsive-img circle left" style="object-fit: contain;height: 42px; width: 42px;margin-top: 12px; margin-right: 12px;">
                            <span style="font-weight:bold; color:#403d39">
                                {{ request.user.username }}
                            </span>
                            <i class="material-icons right"style="; color:#403d39">arrow_drop_down</i>
                        </a>
                    </li>
                {% else %}
                    <li><a class="dropdown-trigger" id="auth" href="#!" data-target="user_dropdown2"><span style="font-weight:bold; color:#403d39">Log in</span><i style="color:#403d39" class="material-icons right">arrow_drop_down</i></a></li>
                {% endif %}
            </ul>
          </div>
        </nav>
    </div>
        <!-- Dropdown Structure -->
    {% if request.user.is_authenticated %}
        <ul id="user_dropdown" class="dropdown-content">
          <li>
              <a class="secondary-text" href="{% url 'blog-user-detail' user.bloguser.id %}">
                  <span style="font-weight:bold">Profile</span>
                  <i class="material-icons right">settings</i>
              </a>
          </li>
          <li>
              <a class="secondary-text" href="{% url 'logout' %}">
                  <span style="font-weight:bold">Log out</span>
                  <i class="material-icons right">exit_to_app</i>
              </a>
          </li>
        </ul>
    {% endif %}

    <ul id="user_dropdown2" class="dropdown-content" style="overflow-y: hidden;"> 
        <div class="container">
            <form method="post" id="sign_in_form" action="{% url 'login' %}">
                 {% csrf_token %}
                    {% include 'devblog/login_form.html' %}
            </form>
        </div>
    </ul>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'about-page' %}">About</a></li>
    <li><a href="{% url 'posts-list' %}">Posts</span></a></li>
  </ul>





  <div class="container">
    <div class="row">
        {% block content %}
        {% endblock %}
          {% block content_script %}
          {% endblock %}
    </div>
  </div>

</main>
 <footer class="page-footer secondary">
    <div class="footer-copyright">
      <div class="container">
      © 2023 Promedevus Karol Wiatrowski
      </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="/static/js/materialize.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
{% include "devblog/devblog_js.html" %}