<script type="text/javascript">
    if ($(".post-toolbar").length) {
        var post_toolbar_top_val = parseInt($(".post-toolbar").offset().top)
        var post_toolbar_height_val =  parseInt($(".post-toolbar").outerHeight())
        var post_toolbar_top_val = post_toolbar_top_val + post_toolbar_height_val + 50
        var post_toolbar_left_val = parseInt($(".post-toolbar").offset().left)
        var post_toolbar_total_left_val = post_toolbar_left_val
    }
    $(function() { // Allows multiple forms to be added to attachments formset
        $('#myForm tbody tr').formset({
            prefix: '{{ attachment_form.prefix }}'
        });
    })
    function logInToast(elem) {
        var style = $('<style>div#toast-container:has(div.toc-toast) {top:' + post_toolbar_top_val + 'px!important;left:' + post_toolbar_total_left_val + '!important;right: auto;}</style>')
        $('html > head').append(style);
        var toastHTML = '<a class="btn log_in_discussion">Log in</a><span>&nbsp;to like&save</span>';
        M.toast({html: toastHTML, classes:'toc-toast'});

        var dd = $('#auth').dropdown({
            constrainWidth: false,
            coverTrigger: false,
            closeOnClick: false,
            autoTrigger: false,
            alignment: 'left',
        });


        $('.log_in_discussion').click(function(){
            $('html,body').animate({ scrollTop: 0 }, 'slow');
            var dropdownInstance = M.Dropdown.getInstance(dd);
            dropdownInstance.open();
            M.Toast.dismissAll();
            return false;

        });
    }
$(document).ready(function(){
  $('.tooltipped').tooltip();
  $('.sidenav').sidenav(); //Sidenav
  $('.pushpin').pushpin({ //Table of content on the post-detail
      top: 100,
      offset: 170
  });
  $('img').addClass('responsive-img'); // This enables image's responsiveness
  // $('img').addClass('materialboxed'); // This enables image's close up
  $('.post-body ul').addClass('browser-default'); // Restore bullets on <ul> since Materialize removes it by its default
  $('.admonition').addClass('z-depth-2'); // Adds Materialize shadow to admonition div
  // $('pre').addClass('z-depth-2'); // Adds Materialize shadow to code blocks

  // $('.materialboxed').materialbox();

  $('.dropdown-trigger').dropdown({
      coverTrigger: false
    // specify options here
  });
  var dd = $('#auth').dropdown({
      constrainWidth: false,
      coverTrigger: false,
      closeOnClick: false,
      autoTrigger: false,
      alignment: 'left',
  });


    $('.log_in_discussion').click(function(){
      $('html,body').animate({ scrollTop: 0 }, 'slow');
        var dropdownInstance = M.Dropdown.getInstance(dd);
        dropdownInstance.open();
        return false; 
    });

    $('#sign_in_form').submit(function(e){
        e.preventDefault();
        var urlLocation = $(location).attr("href");
        $.ajax({
            url: '{% url "login" %}',
            type: "POST",
            dataType: 'json',
            data: {
                username: $('#id_username').val(),
                password: $('#id_password').val(),
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
            },
            success: function (data) {
                if (data.valid) {
                    window.location.href = urlLocation;
                }
                else {
                    var dropdownInstance = M.Dropdown.getInstance(dd);
                    $('#errors').empty()
                    var json_str = JSON.stringify(data);
                    var json_data = JSON.parse(json_str); 
                    var errors = JSON.parse(json_data.errors); 
                    $.each(errors, function(index, value) {
                        $.each(value, function(index, value2) {
                        $('#errors').append(value2.message);
                        });
                    });
                    $('#errors').show()
                    dropdownInstance.recalculateDimensions();
                };
            },
            error: function(data){
                console.log(data);
                console.log('error');
            }

        });
    });

});
$('#sign_in_form').on('keydown', function(event) {
    event.stopPropagation();
});

</script>
