<blockquote hidden id="errors" style="width: 280px; line-height: 20px; font-size: 12px; color: black;"></blockquote>
<li><label for="id_username">Username:</label> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="off" maxlength="150" required id="id_username"></li>
<li><label for="id_password">Password:</label> <input type="password" name="password" autocomplete="off" required id="id_password"></li>
<button id="sign_in" class='btn-small primary' type="submit">Log in</button>
<hr>
